{% load staticfiles %}
<html>
    <head>
        <title>Semon</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link rel="stylesheet" href="{% static 'css/response.css%'}"
    </head>
 <body>
<div >
    {% if user.is_authenticated %}


    <p class="topCome">wellcome semon {{ user.username }}<small>
      (<a href="{% url 'logout' %}"><span class="logout">Log out</a>)
        <a href="{% url 'blog.views.post_list' %}" class="topCome"><sapn class="glyphicon glyphicon-home"></span></a></small>
        <a href="{% url 'post_new' %}" class="topCome"><span class="glyphicon glyphicon-plus"></span></a>
      </small><a href="{% url 'post_draft_list' %}" class="topCome"><span class="glyphicon glyphicon-edit"></span></a></p>
    {% else %}
    <p class="topNoCome">Login Please<small><a href="{% url 'login' %}" class="topNoCome"><span class="glyphicon glyphicon-lock"></span></a>
      <a href="{% url 'blog.views.post_list' %}" class="topNoCome"><sapn class="glyphicon glyphicon-home"></span></a></small></p>
    {% endif %}

</div>
    <div class="polist">
        <div class="potitle">
            <div class="potitlesecen">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>
